## PYTHON VARIABLE AND DATA TYPE

>## Variable
>Variables are containers for storing data values.
>
>Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

In [1]:
# example of variable
x = 10
y = 10+1
z = "Hello"

In [2]:
# calling variable
print("x")

x

In [3]:
# calling variable horizontally
x, y, z

(10, 11, 'Hello')

In [4]:
# calling variable horizontally with print
print(x,y,z)

10 11 Hello

In [5]:
# variable can be replaced easily
x = "this is x"

In [6]:
# calling the replaced easily
print(x)

this is x

In [7]:
# calling variable horizontally with print, after replace
print(x,y,z)

this is x 11 Hello

In [8]:
ini_variable_a = 'ini variable a'

In [9]:
ini_variable_a

'ini variable a'

> ### Variable Names
>A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
>
>Rules for Python variables:
>
>A variable name must start with a letter or the underscore character
>
>A variable name cannot start with a number
>
>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
>
>Variable names are case-sensitive (age, Age and AGE are three different variables)
>
>Avariable name cannot be any of the [Python keywords](https://www.w3schools.com/python/python_ref_keywords.asp).
>
>We can delete our variable using del()

In [10]:
# creating variable with different naming
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [11]:
var_a = "Hello World"
print(var_a)

Hello World

In [12]:
del(var_a)

In [13]:
# printing deleted variable will return an error
print(var_a)

NameError: name 'var_a' is not defined

In [ ]:
# assign one value to multiple variable
x, y, z = "Orange", 11, 12
print(x)
print(y)
print(z)

In [ ]:
# unpacking list
fruits = ["Apple","Banana","Cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

> ### Data Type
>In programming languages, a data type is an attribute or characteristic that defines the type of data that a variable, expression, or value can hold. It specifies the nature of the data and the operations that can be performed on it.
>
>![](https://miro.medium.com/v2/resize:fit:1100/format:webp/1*1YG9HuYt7fp-CEPBdNnlSA.png)
>Python provides several built-in data types that are readily available for use without requiring additional libraries or modules. These have defined structures, attributes, and behaviors specific to your problem domain.

In [ ]:
# numeric type

# int
x = 5
print(x) # Output: 5

# float
y = 3.14
print(y) # Output: 3.14

# complex
z = 2 + 3j
print(z) # Output: (2+3j)

In [ ]:
# str
mes = "Hello, World!"
print(mes)  # Output: Hello, World!

In [ ]:
# bool
is_true = True
is_false = False
print(is_true)   # Output: True
print(is_false)  # Output: False

In [ ]:
# use to check datatype
print(type(x))
print(type(y))
print(type(z))

> ### Built-In Data Type (Structures)
> Python provides several built-in data types that are readily available for use without requiring additional libraries or modules. These have defined structures, attributes, and behaviors specific to your problem domain.
> 1. Text Type:	str
> 2. Numeric Types:	int, float, complex
> 3. Sequence Types:	list, tuple, range
> 4. Mapping Type:	dict
> 5. Set Types:	set, frozenset
> 6. Boolean Type:	bool
> 7. Binary Types:	bytes, bytearray, memoryview
> 8. None Type:	NoneType

In [37]:
# list type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 2, 3, "four"]
print(list1)
print(type(list2))

['apple', 'banana', 'cherry']
<class 'list'>

In [35]:
# tuple type
tp1 = ("apple", "banana", "cherry")
tp2 = (1,2,"three")
print(tp1)
print(type(tp2))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [34]:
# set type
set1 = {1, 2, 3, 4, 5}
set2 = {"apple", "banana", "cherry"}
print(set1)
print(type(set2))

{1, 2, 3, 4, 5}
<class 'set'>

In [33]:
# dictionary type
dict1 = {"name" : "John", "age" : 36}
# dict is using {key : value}
print(dict1)
print(type(dict1))

{'name': 'John', 'age': 36}
<class 'dict'>