## Type Casting

> Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming.
>
>There are two types of Type Conversion in Python:
>
>1. Python Implicit Type Conversion
>2. Python Explicit Type Conversion

> ### Implicit Style
> In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement.

In [1]:
# implicit type conversion
x = 10
y = 10.6
z = 'this is z'

In [2]:
# type result
print("x is of type:",type(x))
print("y is of type:",type(y))
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
z is of type: <class 'str'>

> ### Explicit Type
> In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement. 
>
> With explicit type conversion, there is a risk of data loss since we are forcing an expression to be changed in some specific data type. Various forms of explicit type conversion are explained below:
> 1. int() : Converts a value 
> 2. float(): Converts a value to a floating-point number
> 3. str() : Converts a value to string
> 4. list() : Converts a value to list
> 5. tuple() : Converts a value to tuple
> 6. set() : Converts a value to set
> 7. dict() : Converts a value to dict

> ## Integer Conversion
> The `int()` function is used to convert a value to a integer
>
> This can be applied to floating-point numbers, string (provided they represent a valid integer), and other numeric types.

In [3]:
# Converting a float to an integer
float_num = 12.34
int_num = int(float_num)
int_num

12

In [4]:
# Converting a string represent an int to an int
string_num = '123'
int_from_string = int(string_num)
int_from_string

123

> ## Float Conversion
> The `float()` function is used to convert a value to a floating-point number.
>
> This can be applied to integers, string (provided they represent a valid floating point number or integer), and other numeric types.

In [5]:
# Converting an integer to a float
integer_num = 123
float_from_int = float(integer_num)
float_from_int

123.0

In [6]:
# Converting a string representing a float to a float
string_float = '123.45'
float_from_string = float(string_float)
float_from_string

123.45

> ## String Conversion
> The `str()` function is used to convert a value to a string.
>
> This can be applied to almost any data type in Python, including numbers, lists, tuples, sets, and dictionaries.

In [7]:
# Converting an integer to a string
integer_val = 456
string_from_int = str(integer_val)
string_from_int

'456'

In [8]:
# Converting a list to a string
list_val = ["one", "two", "three"]
string_from_list = str(list_val)
string_from_list

"['one', 'two', 'three']"

> ## List Conversion
> The `list()` function is used to convert a value to a list
>
> This can be applied to string, tuple, set, and other iterable data type

In [9]:
# Converting a string to a list
string_val = "Hello World"
list_from_string = list(string_val)
list_from_string

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [10]:
# Converting a string to a list, without iterating the elements
string_val1, string_val2 = "Hello", "World"
list_from_string1 = [string_val1, string_val2]
list_from_string1

['Hello', 'World']

In [11]:
# Converting a tuple to a list
tuple_val = (1,2,3,4,5)
list_from_tuple = list(tuple_val)
list_from_tuple

[1, 2, 3, 4, 5]

In [12]:
# Converting a set to a list
set_val = {1,2,3,4,5}
list_from_set = list(set_val)
list_from_set

[1, 2, 3, 4, 5]

> ## Tuple Conversion
> The `tuple()` function is used to convert a value to a tuple
>
> This can be applied to string, list, set, and other iterable data type

In [13]:
# Converting a list to a tuple
list_val = [1,2,3,4,5]
tuple_from_list = tuple(list_val)
tuple_from_list

(1, 2, 3, 4, 5)

In [14]:
# Converting a set to a tuple
set_val = {1,2,3,4,5}
tuple_from_set = tuple(set_val)
tuple_from_set

(1, 2, 3, 4, 5)

In [15]:
# Converting a string to a list, without iterating the elements
string_val1, string_val2 = "Hello", "World"
tuple_from_string1 = tuple([string_val1, string_val2])
tuple_from_string1

('Hello', 'World')

> ## Set Conversion
> The `set()` function is used to convert a value to a set
>
> This can be applied to string, list, tuple, and other iterable data type

In [16]:
# Converting a list with duplicate values to a set
list_with_duplicates = [1,2,2,3,4,4,5]
set_from_list = set(list_with_duplicates)
set_from_list

{1, 2, 3, 4, 5}

In [17]:
# Converting a list with duplicate values to a set
list_with_duplicates = [1,2,2,3,4,4,5]
set_from_list = set(list_with_duplicates)
set_from_list

{1, 2, 3, 4, 5}

> ## Dict Conversion
> The `dict()` function is used to convert a value to a dictionary
>
> This can be applied to string, list, tuple, set, and other iterable data type

In [18]:
# Converting a list of tuples to a dictionary
list_of_tuples = [('a',1),('b',2),('c',3)]
dict_from_list = dict(list_of_tuples)
dict_from_list

{'a': 1, 'b': 2, 'c': 3}

In [19]:
# Converting a set of key-value pairs to a dictionary
set_of_pairs = {('d',4),('e',5),('f',6)}
dict_from_set = dict(set_of_pairs)
dict_from_set

{'e': 5, 'f': 6, 'd': 4}

In [20]:
# Converting two lists (one for keys and one for values) to a dictionary using zip
keys = ['g','h','i']
values = [7,8,9]
dict_from_zip = dict(zip(keys,values))
dict_from_zip

{'g': 7, 'h': 8, 'i': 9}

## References

> 1. https://www.geeksforgeeks.org/type-conversion-in-python/
> 2. https://www.w3schools.com/python/python_casting.asp
> 3. https://www.pythontutorial.net/python-basics/python-type-conversion/